.header__logo {
  max-width: 142px;
  min-height: 33px;
  margin: 0;
  display: block;
  background-image: url(../../../images/logo.svg);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 489px) {
  .header__logo {
    max-width: 104px;
    min-height: 25px;
    margin-left: 27px;
  }
}
