.elements__element {
  max-width: 282px;
  min-height: 361px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFF;
  border-radius: 10px;
  position: relative;
}
