.auth__login-link { 
    min-width: 358px;
    padding-top: 15px;
    line-height: 17px;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-decoration: none;
}