.header {
  margin: 0 auto;
  max-width: 880px;
  min-height: 74px;
  padding: 45px 0 0;
  border-bottom: 1px solid rgba(84,84,84,.7);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .header {
      max-width: 720px;
      min-height: 56px;
      padding-top: 36px;
    }
}

@media screen and (max-width: 720px) {
  .header {
      max-width: 480px;
    }
}

@media screen and (max-width: 489px) {
  .header {
      max-width: 320px;
      min-height: 54px;
      padding-top: 28px;
    }
}
